@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.linkAtivo{ 
    padding: 8px 15px;
    background: linear-gradient(50deg, #ecf0f1, #9317a6);
    color: rgb(32, 17, 17);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s ease;
    border: 5px solid #1e0808;
    font-family: Embed code;
     
}

.linkAtivo:hover {
    background: linear-gradient(50deg, white, pink);
  }
  

.link {
    padding: 8px 15px;
    background: linear-gradient(50deg, purple, pink);
    color: rgb(32, 17, 17);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: transform 0.5s ease;
    border: 1px solid #1e0808;
    text-decoration: none;
    font-family: Embed code;
  }
  
  .link:hover {
    background: linear-gradient(50deg, white, rgb(170, 98, 170));
    transform: scale(1.1);
  }
  