.header {
  background: linear-gradient(30deg, white, blue);
  border-bottom: 1px solid rgba(3, 2, 7, 0.8);
  color: black;
  padding: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  bottom: auto;
  gap: 8px;
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.date {
  font-size: 1rem;
  opacity: 0.8;
  text-align: right;
}
.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}
