.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    color: #fff;
    padding: 1rem 2 rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
 justify-content: space-around;
  bottom: auto; 
  justify-content: space-around;
  align-items: center;
  
}

.logo{
    font-size: 1.5 rem;
    font-weight: bold;
    }

    .date{
        font-size: 1rem;
        opacity: 0.8;
    }