.header {
  background: linear-gradient(30deg, white, blue);
  border-bottom: 1px solid rgba(3, 2, 7, 0.8);
  color: black;
  padding: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  bottom: auto;
  gap: 8px;
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.date {
  font-size: 1rem;
  opacity: 0.8;
  text-align: right;
}
.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 7px;
}

.input {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: rgb(187, 211, 255);
  color: black;
}

.button {
  gap: 5px;
  background-color: rgb(187, 211, 255);
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px blue;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: rgb(127, 172, 255);
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}
