.conteiner {
  display: flex;
}
.linkAtivo{ 
  padding: 8px 15px;
  background: linear-gradient(50deg, white, rgb(194, 48, 182));
  color: rgb(32, 17, 17);
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: transform 0.5s ease;
  border: 1px solid #1e0808;
  justify-content: space-between;  
  
}

.linkAtivo:hover {
  background: linear-gradient(50deg, white, pink);
  animation: girar 2s infinite linear;
}

.link {
  padding: 8px 15px;
  background: linear-gradient(50deg, purple, pink);
  color: rgb(32, 17, 17);
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: transform 0.5s ease;
  border: 1px solid #1e0808;
}

.link:hover {
  background: linear-gradient(50deg, white, rgb(170, 98, 170));
  animation: girar 2s infinite linear;

}
