.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 5px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgb(236, 242, 245);
  width: 15%;
  height: 30%;
  box-shadow: 0 0 5px rgb(18, 21, 214);
}

.compras {
  font-family: monospace;
  color: black;
}
