.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 20px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgb(236, 242, 245);
  width: 25%;
  height: 30%;
  box-shadow: 0 0 5px rgb(18, 21, 214);
  margin-bottom: 10px;
}

.compras {
  font-family: monospace;
  color: black;
}

.delete {
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
  background-color: red;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete:hover {
  background-color: brown;
  transform: scale(1.1);
}

.carrinho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 3px;
}

.itensCarrinho {
  display: flex;
  flex-direction: column;
}