.footer {
backdrop-filter: blur(10px);
border-top: 1px solid rgba(8, 8, 8, 0.8);
color: black;
padding: 2rem;
margin-top: 2rem;
background: linear-gradient(5deg, white, blue);
justify-content: end;     

}

.frase{
  margin-bottom: 0.5rem;
  text-align: left;
  
  }

.frase2{
  margin-inline-end: 2rem;
  text-align: right;
  margin-top: 2rem ;


}

@media (max-width: 600px) {
  .footer {
    font-size: 0.9rem;
    padding: 12px;
  }
}
