.naosei {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  background-color: rgb(235, 249, 255);
  border-radius: 10px;
  box-shadow: rgb(228, 227, 227) 2px 2px 2px 5px;
  position: relative;
}
.carrinho {
  display: flex;
  flex-direction: row;
}
.produto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.titulo,
.vazio {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
.imgcaixa {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(154, 183, 236);
  border: none;
  border-radius: 10px;
  margin: 3px;
}
.imagem {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.caixaNV {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nome {
  font-size: large;
  display: flex;
  align-items: flex-start;
}
.valor {
  font-size: medium;
}
.caixaBQ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
}
.mais {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background: rgba(28, 173, 35, 0.9);
  cursor: pointer;
}
.quantidade {
  display: flex;
  justify-content: center;
  text-align: center;
}
.menos {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background: rgba(173, 28, 28, 0.9);
  cursor: pointer;
}

.total {
  font-size: large;
}
.caixaT {
}
.limpar {
}
