* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #646cff;
  --tertiary-color: #1a1a1a;
}

body,
input,
textarea,
button {
  font-size: 1rem;
  font-family: sans-serif;
}
